* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

header, nav {
    background-color: #ebebeb;
    padding: 40px;
    margin: 10px 0 0 160px;
    width: 97%;
}

section {
    float: left;
    background-color: #ebebeb;
    width:495px;
    margin: 20px 0 0 160px;
    height: 270px;
}

aside {
    float: right;
    background-color: #ebebeb;
    height: 270px;
    margin: 20px 0 0 20px;
    width: 30%;


}
